<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
	<h1></h1>

    <form style="height: 210px; width: 675px; border:2px solid black;">
    
    	
        <p style="position: absolute; top:10px;left:22px; text-align: center;"><b> Item </b></p>
        <input id="TextItem1Sequence" type="text"  width="25" name="TextItem1Sequence" style="font-size: 25px; height: 170px; background-color: #FFFFE1; top: 50px; visibility: visible; left: 20px; width: 35px; position: absolute" multiple="multiple">
        
        <p style="position: absolute; top:10px;left:90px; text-align: center;"><b> Tracked Item  </b></p>
        <input id="TextItem1Number" type="text"  width="90" name="TextItem1Number" style="height: 170px; background-color: #FFFFE1; top: 50px; visibility: visible; left: 65px; width: outside; position: absolute" multiple="multiple">
  
        
		<p style="position: absolute; top:10px;left:240px; text-align: center;"><b> Inspection Notes  </b></p>
        <input id="TextItem1Details" type="text" width="90" name="TextItem1Details" style="height: 170px; background-color: #FFFFE1; top: 50px; left: 220px; width: outside; position: absolute">

        

        <img src="C:\Users\VF033782\Pictures\spirt.jpg" alt="" height="100" width="100" name="Item1Img" style="top: 30px; left: 386px; width: outside; position: absolute; height: outside">

        	
		<p style="position: absolute; top:120px;left:394px; text-align: center;"><b> Total Count</b></p>
        <input id="Text1TotalsAll" type="text" style="width: 63px;height: 58px;font-weight: bold;font-size: x-large; font-style: normal;text-align: center;background-color: #FFFFE1; top: 160px; left: 402px; position: absolute">
		
        	
        	<div class="floating-box" style="top: 30px; left: 500px; position: absolute"> 
			       	<div class="Btn-groupMinus">		        	
			       		<button class="Btn-groupMinus" type="button" name="ClassA-" style="border: 2px solid black; display: block; height: 64px;  width: 53px; font-weight: bold; font-size: x-large; font-style: normal; background-color: #FF8080; ">A-</button>
			       		<button class="Btn-groupMinus" type="button" name="ClassB-" style="border: 2px solid black; display: block; height: 64px;  width: 53px; font-weight: bold; font-size: x-large; font-style: normal;background-color: #FF769B; ">B-</button>
			       		<button class="Btn-groupMinus" type="button" name="ClassC-" style="border: 2px solid black; display: block; height: 64px;  width: 53px; font-weight: bold; font-size: x-large; font-style: normal;background-color: #FFACC0; ">C-</button>
			       	</div>	
	   		</div>
        	
        	<div class="floating-box" style="top: 30px; left: 557px; position: absolute">
        	<input id="Text1TotalsA" type="text" style="display: block;width: 53px;height: 58px;font-weight: bold;font-size: x-large; font-style: normal;text-align: center;background-color: #FFFFE1;">
        	<input id="Text1TotalsB" type="text" style="display: block;width: 53px;height: 58px;font-weight: bold;font-size: x-large; font-style: normal;text-align: center;background-color: #FFFFE1;">
        	<input id="Text1TotalsC" type="text" style="display: block;width: 53px;height: 58px;font-weight: bold;font-size: x-large; font-style: normal;text-align: center;background-color: #FFFFE1;">
        	       	
        	</div>
        	
	       	 	
       	 	<div class="floating-box"style="top: 30px; left: 620px; position: absolute">
	       	 	<div Class="Btn-groupPlus">	
	       	 		<button Class="Btn-groupPlus" type="button" name="ClassA+" style="border: 2px solid black; display: block; height: 64px;  width: 53px; font-weight: bold; font-size: x-large; font-style: normal;background-color: #C0FFC0; ">A+</button>
	       	 		<button Class="Btn-groupPlus" type="button" name="ClassB+" style="border: 2px solid black; display: block; height: 64px;  width: 53px; font-weight: bold; font-size: x-large; font-style: normal;background-color: #FFFFC0; ">B+</button>
	        		<button Class="Btn-groupPlus" type="button" name="ClassC+" style="border: 2px solid black; display: block; height: 64px;  width: 53px; font-weight: bold; font-size: x-large; font-style: normal;background-color: #FFE0C0; ">C+</button>
	    		</div>
		    </div>
		        		
				       	 	 		
     </form>

   
</body>
</html>
